body{
    background-image: url(img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.change{
    background-image: url(img/on.png);
}

img{
    height: 400px;
    width: 280px;
    border: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: whitesmoke;
    margin-top: 20px;
    font-family: 'Prata', serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p{
    color: rgba(245, 245, 245, 0.486);
    margin-top: 20px;
    font-family: 'Prata', serif;
}